#! /bin/bash

OS=$(uname)

if [ "$OS" != "Darwin" ]; then
  alias ls='ls --color=always'
else
  alias cat='bat --plain --theme "Monokai Extended Bright"'
  alias fl='bundle exec fastlane'
fi

alias ag='ag --hidden --ignore .git --pager less'
alias be='bundle exec'
alias br='bin/rails'
alias glb='f() { git log $(git merge-base --fork-point origin/$(git_main_branch) @)..@ --pretty=oneline; }; f'
alias glbp='f() { git log $(git merge-base --fork-point origin/$(git_main_branch) @)..@ --patch; }; f'
alias glow='glow --pager'
alias gpf='gp --force-with-lease --force-if-includes'
alias grep='grep --color=auto'
alias hexdump='hexdump -C'
alias ll='ls -ahlF'
alias la='ls -A'
alias l='ls -CF'
alias less='less -F -X'

alias pj='python -m json.tool'

alias tree='LS_COLORS=$LS_COLORS tree'

alias vi=nvim
alias vim=nvim

if [ "$SPIN" ]; then
  alias cart='iso cartridge'
fi

if [ -f /usr/bin/xdg-open ]; then
    alias open='xdg-open'
fi

