#! /bin/bash

OS=$(uname)
if [ "$OS" != "Darwin" ]; then
  alias ls='ls --color=always'
else
  # OS X Vim is crashy. Running just vi always runs OS X Vim.
  # This alias forces Home Brew Vim
  alias vi=vim

  alias fl='bundle exec fastlane'
fi

alias be='bundle exec'
alias br='bin/rails'
alias glb='f() { git log $(git merge-base --fork-point origin/master @)..@ --pretty=oneline; }; f'
alias gpf='gp --force-with-lease'
alias ll='ls -ahlF'
alias la='ls -A'
alias l='ls -CF'
alias less='less -F -X'

alias pj='python -m json.tool'

alias tree='LS_COLORS=$LS_COLORS tree'

if [ -f /usr/bin/xdg-open ]; then
    alias open='xdg-open'
fi

