[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/airline"]
	path = .vim/bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/bundle/bundler"]
	path = .vim/bundle/bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule ".vim/bundle/commentary"]
	path = .vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/gitgutter"]
	path = .vim/bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/airline-themes"]
	path = .vim/bundle/airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule ".vim/bundle/coffee-script"]
	path = .vim/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/ag.vim"]
	path = .vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/fzf.vim"]
	path = .vim/bundle/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule ".vim/bundle/dash.vim"]
	path = .vim/bundle/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule ".vim/bundle/ale"]
	path = .vim/bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule ".vim/bundle/better-whitespace"]
	path = .vim/bundle/better-whitespace
	url = git://github.com/ntpeters/vim-better-whitespace.git
