[alias]
	br = branch
  bradsokol = "config user.email 'bsokol@gmail.com'"
	com = commit
	ci = commit
	co = checkout
  forked-master = merge-base --fork-point origin/master @
  graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lb = "!f() { git log $(git merge-base --fork-point origin/master @)..@ --pretty=oneline; }; f "
  ri = rebase --interactive
  rim ="!git rebase --interactive $(git forked-master)"
  shopify = "config user.email 'brad.sokol@shopify.com'"
	stat = status
	st = status
  touch = add --intent-to-add
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
	pager = delta
[delta]
  navigate = true
[diff]
  colorMoved = default
	tool = Kaleidoscope
[difftool]
	prompt = false
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[fetch]
	prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[include]
	path = /Users/bradsokol/.config/dev/gitconfig
  path = /Users/Brad/.gitconfig-local
  path = /Users/bradsokol/.gitconfig-local
[init]
	defaultBranch = main
[interactive]
  diffFilter = delta --color-only
[log]
  date = iso
[merge]
  conflictstyle = diff3
	tool = Kaleidoscope
[mergetool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[pull]
	ff = only
	rebase = true
[push]
	default = upstream
[rebase]
	updateRefs = true
[rerere]
	enabled = true
[user]
  name = Brad Sokol
  useConfigOnly = true
	email = bsokol@gmail.com
