[alias]
	br = branch
  bradsokol = "config user.email 'bsokol@gmail.com'"
	com = commit
	ci = commit
	co = checkout
  forked-master = merge-base --fork-point origin/master @
  graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lb = "!f() { git log $(git merge-base --fork-point origin/master @)..@ --pretty=oneline; }; f "
  ri = rebase --interactive
  rim ="!git rebase --interactive $(git forked-master)"
  shopify = "config user.email 'brad.sokol@shopify.com'"
	stat = status
	st = status
  update = "!echo '==> Stash local changes'; res=$(git stash save 'auto stash by update'); echo "$res"; echo; \
    echo '==> Fetch from remote repo and merge/rebase'; git pull --rebase; echo; \
    echo "$res" | grep -q '^No local changes to save' \
    || { echo '==> Apply stashed changes'; git stash pop; }"

[color]
	ui = true
[user]
	name = Brad Sokol
  useConfigOnly = true
[core]
	excludesfile = /Users/bradsokol/.gitignore_global
	editor = vim
	commitGraph = true
	pager = less -F -X
[push]
	default = upstream
[difftool "sourcetree"]
	cmd = /usr/local/bin/ksdiff -w \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[credential]
	helper = osxkeychain
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[rerere]
	enabled = true
[merge]
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool]
	prompt = false
[diff]
	tool = Kaleidoscope
	algorithm = patience
[fetch]
	prune = true
[protocol]
	version = 2
[http "https://git-mirror.shopifycloud.com"]
	cookieFile = /tmp/galaxy.cookies
	saveCookies = true
[url "https://git-mirror.shopifycloud.com/Shopify/"]
	insteadOf = https://github.com/Shopify/
	insteadOf = git@github.com:Shopify/
[url "https://github.com/Shopify/"]
	pushInsteadOf = https://github.com/Shopify/
[url "git@github.com:Shopify/"]
	pushInsteadOf = git@github.com:Shopify/
