[alias]
	com = commit
	ci = commit
	co = checkout
	br = branch
	stat = status
	st = status
	graph = log --pretty=\"%h - %Cgreen%d%Creset %s\" --graph
[color]
	ui = true
[user]
	name = Brad Sokol
	email = brad.sokol@points.com
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
