[submodule ".vim/bundle/nerdtree"]
	path = .vim/pack/bundle/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/supertab"]
	path = .vim/pack/bundle/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/airline"]
	path = .vim/pack/bundle/start/airline
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/bundle/bundler"]
	path = .vim/pack/bundle/start/bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule ".vim/bundle/commentary"]
	path = .vim/pack/bundle/start/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/pack/bundle/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/gitgutter"]
	path = .vim/pack/bundle/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/pack/bundle/start/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/airline-themes"]
	path = .vim/pack/bundle/start/airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule ".vim/bundle/coffee-script"]
	path = .vim/pack/bundle/start/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/pack/bundle/start/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/fzf.vim"]
	path = .vim/pack/bundle/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule ".vim/bundle/dash.vim"]
	path = .vim/pack/bundle/start/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule ".vim/bundle/ale"]
	path = .vim/pack/bundle/start/ale
	url = https://github.com/w0rp/ale.git
[submodule ".vim/bundle/better-whitespace"]
	path = .vim/pack/bundle/start/better-whitespace
	url = git://github.com/ntpeters/vim-better-whitespace.git
[submodule ".vim/pack/bundle/start/vim-obsession"]
	path = .vim/pack/bundle/start/vim-obsession
	url = git://github.com/tpope/vim-obsession.git
[submodule ".vim/pack/bundle/start/vim-virtualenv"]
	path = .vim/pack/bundle/start/vim-virtualenv
	url = git@github.com:plytophogy/vim-virtualenv.git
[submodule ".vim/pack/bundle/start/vim-jsx-typescript"]
	path = .vim/pack/bundle/start/vim-jsx-typescript
	url = git@github.com:peitalin/vim-jsx-typescript.git
[submodule ".vim/pack/bundle/start/typescript-vim"]
	path = .vim/pack/bundle/start/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule ".vim/pack/bundle/start/vim-graphql"]
	path = .vim/pack/bundle/start/vim-graphql
	url = git@github.com:jparise/vim-graphql.git
